# Validation of the tsib.buildingconfig
Author: Leander Kotzur

Date: 21.09.2019

In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import tsib.buildingconfig as cfg
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import copy
import os

## Read building configurations data

Building configurations for 5 archetypes

In [3]:
bdgs_raw = pd.read_csv(os.path.join('5_archetypes_config.csv'), index_col = 0)

In [4]:
bdgs_raw

,buildingYear,a_ref_app,surrounding,n_persons,roofOrientation,ownership,existingHeatSupply,longitude,latitude,n_apartments,hotWaterElec,comfortT_lb,comfortT_ub,nightReduction,capControl
0,1919,79.0,Terraced,1,90.0,False,Oil boiler,9.779301,50.922095,11,False,21.0,25.0,True,True
1,1979,39.0,Terraced,4,67.5,True,Oil boiler,9.479936,50.410871,3,False,21.0,25.0,True,True
2,1959,59.0,Detached,2,0.0,True,Gas boiler,9.572005,50.869338,1,False,21.0,25.0,True,True
3,1949,59.0,Semi,2,22.5,False,Electric heater,10.851559,51.295468,37,False,21.0,25.0,True,True
4,1969,99.0,Semi,3,45.0,False,District heating,9.763013,50.986896,423,False,21.0,25.0,True,True

In [ ]:
bdgs_dict = bdgs_raw.T.to_dict()

### Loop over the buildings, define them and get their profile

In [ ]:
bdg_cfgs = {}

In [ ]:
for bdg_ix in bdgs_dict:
    bdg = cfg.BuildingConfiguration(bdgs_dict[bdg_ix])
    bdg_cfgs[bdg_ix] = bdg.getBdgCfg()

Start 7 processes, round 1 of 2
  Process 1
  Process 2
  Process 3
  Process 4
  Process 5
  Process 6
  Process 7
- closed the round
Start 2 processes, round 2 of 2
  Process 1
  Process 2
- closed the round
Start 3 processes, round 1 of 1
  Process 1
  Process 2
  Process 3
- closed the round

c:\users\l.kotzur\sciebo\fzj\04_public\tsib\tsib\timeseriesmanager.py:200: FutureWarning: read_table is deprecated, use read_csv instead.
  filepath + ".dat", sep="\s+", skiprows=([i for i in range(0, 36)] + [37])

Start 7 processes, round 1 of 3
  Process 1
  Process 2
  Process 3
  Process 4
  Process 5
  Process 6
  Process 7
- closed the round
Start 7 processes, round 2 of 3
  Process 1
  Process 2
  Process 3
  Process 4
  Process 5
  Process 6
  Process 7